{% extends 'weatherupdates/base.html' %}
{% block title %}
Signup
{% endblock %}
{% block content %}
<center>
    <div class="border border-secondary" style="width: 450px;height:500px;margin-top:80px;">

        <h3 style="margin-top: 25px;"><b>Register Here </b></h3>
        <hr>

        <form action="" method="POST">
            {% csrf_token %}

            {% for field in form %}
            <p>{{ field.label }}: <br> {{ field }}</p>

            {% endfor %}
            <button name="submit" class="btn btn-primary" type="submit" >Register</button>
        </form>
        <hr>
    </div>
</center>
{% endblock %}